@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1884 Malvern Road<br />
    Malvern East, VIC 3145<br />
    <abbr title="Phone">P:</abbr>
    451.219.551
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pswa0003@student.monash.edu">Support@example.com</a><br />
</address>