@{
    ViewBag.Title = "Home Page";
}

    <div>
        <h1>-</h1>
        <h1>Adventure Travels</h1>
        <p class="lead">Your one stop shop for booking flights to your favourite destination</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Book your flights</h2>
        <p>
            Haven't been to Sydney's Darling Harbour, Haven't ticked off Snorkling at the Great Barrier Reef, don't worry- Book your tickets at the most affordable prices.
        </p>
        @Html.ActionLink("FlightSearch", "FlightSearch", "Flights")
    </div>

    <div class="col-md-4">
        <h2>Manage your Budget.</h2>
        <p>Want to get away for the weekend, but you're low on budget, make use of our graph feature to see which destination fits your pocket</p>
        @Html.ActionLink("Flight Stats", "MyChart")
    </div>

    <div class="col-md-4">
        <h2>Just Map it</h2>
        <p>You can easily find the location and top tourist spots on where you're planning to go, Just enter your location and your destination, it's that easy! </p>
        @Html.ActionLink("Map it", "LocationMap")
    </div>
</div>
<html>
<head>
    <style>
        body {
            background-image: url("https://wallpaperaccess.com/full/254390.jpg");
            background-color: #cccccc;
        }
    </style>
</head>
<body>

</body>
</html>